.containerTrack {
  min-height: 100vh;
  gap: 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.trackContainerBox {
  min-width: 100%;
  padding: 0.5rem;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1rem;
  justify-content: space-evenly;
  align-items: center;
}

@media screen and (max-width: 924px) {
  .trackContainerBox {
    display: flex;
    flex-direction: column;
  }
  .input-form {
    min-width: 70%;
  }
}
@media screen and (max-width: 600px) {
  .titleName {
    font-size: 1rem;
  }
  .trackContainerBox {
    display: flex;
    flex-direction: column;
  }
  .input-form {
    min-width: 100%;
  }
}

.trackBox {
  min-height: 20rem;
  display: flex;
  margin-block: 45px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  border-radius: 10px;
  border: 2px solid black;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
.TrackImg {
  width: 10rem;
  height: 10rem;
  margin-top: -50px;
}
.TrackImg img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: block;
  object-fit: cover;
}
.trackBody {
  display: flex;
  width: 100%;
  flex-direction: column;
  text-align: center;
}
.trackMain {
  margin-top: 1rem;
  font-size: 1rem;
  width: 100%;
  font-family: var(--primary-font);
  text-transform: capitalize;
}
.trackSub {
  text-align: center;
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 500;
  font-family: var(--primary-font);
  padding: 1rem;
}

.input-form {
  width: 50%;
  min-height: 36rem;
  border: 2px solid black;
  box-shadow: -7px 10px 14px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -7px 10px 14px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -7px 10px 14px -1px rgba(0, 0, 0, 0.75);
}
legend {
  text-transform: capitalize;
  font-family: var(--primary-font);
  font-size: 2rem;
  padding-inline: 2rem;
  padding-top: 1rem;
}
form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  justify-content: center;
}
label {
  font-family: var(--primary-font);
  font-size: 1rem;
  text-transform: capitalize;
  font-weight: 700;
}
input {
  height: 2rem;
  transition: all 0.4s ease;
  padding: 1rem;
  margin: 1rem 0rem;
  text-transform: capitalize;
}

input:hover {
  border: none;
  border-bottom: 2px solid black;
}
.divdrop {
  display: flex;
  flex-direction: column;
}
option {
  height: 2rem;
  text-transform: capitalize;
}
